<h1>Walker</h1>

<h2>Pending walks</h2>
<div ng-repeat="pendingWalk in vm.pendingWalks"></div>
    <span>{{pendingWalk.startTime | date:'dd-MM-yyyy'}}</span>
    <span>{{pendingWalk.startTime | date:'HH:mm'}} - {{pendingWalk.endTime | date:'HH:mm'}}</span>
    <p>{{pendingWalk.location}}</p>
    <p>{{pendingWalk.dog.name}}</p>
<br /> <br />
<div ng-repeat="walk in vm.user.walk">
    <span>{{walk.startTime | date:'dd-MM-yyyy'}}</span>
    <span>{{walk.startTime | date:'HH:mm'}} - {{walk.endTime | date:'HH:mm'}}</span>
    <p>{{walk.location}}</p>
    <p>{{walk.price}}</p>
</div>
<br />
<h2>Upcoming walks</h2>
<div ng-repeat="upcomingWalk in vm.upcomingWalks">
    <span>{{upcomingWalk.startTime | date:'dd-MM-yyyy'}}</span>
    <span>{{upcomingWalk.startTime | date:'HH:mm'}} - {{upcomingWalk.endTime | date:'HH:mm'}}</span>
    <p>{{upcomingWalk.location}}</p>
    <p>{{upcomingWalk.price}}</p>
    <p>{{upcomingWalk.dog.name}}</p>
</div>