<div class="container">
    <h1>Owner - {{vm.user.Username}}</h1>


    <div class="btn btn-primary" ui-sref="new-walk">Create Walk</div>


    <button ng-click="vm.isAddPet = !vm.isAddPet">Add new pet</button>

    <div ng-show="vm.isAddPet">
        <form name="registerForm" novalidate class="form-group">
            
            <input class="form-control" type="text" ng-model="vm.dog.name" placeholder="Name of the pet" required/><br/>
            <input class="form-control" type="text" ng-model="vm.dog.breed" placeholder="Breed of the pet" required/><br/>
            <input class="form-control" type="number" ng-model="vm.dog.age" placeholder="Age of the pet" required/><br/>
            <input class="form-control" type="text" ng-model="vm.dog.gender" placeholder="Gender of the pet" required/><br/>
            <textarea class="form-control" ng-model="vm.petDescription" required>Describe your pet</textarea>
            <input  class="form-control"type="submit" ng-click="vm.save()" value="Submit"/>
        </form>
    </div>
</div>