<h1>Register</h1>

<button class="btn btn-danger" ng-click="vm.save()">Add</button>
<br />
<form name="registerForm" novalidate>
    <input type="text" ng-model="vm.user.username" placeholder="Username" required /><br />
    <input type="text" ng-model="vm.rpassword" placeholder="Password" required /><br />
    <input type="text" ng-model="vm.rpassword" placeholder="Repeat password" required /><br />
    <input type="email" ng-model="vm.user.email" placeholder="Email" required /><br />
    <input type="text" ng-model="vm.user.location" placeholder="Location" required /><br />
    <input type="text" ng-model="vm.user.address" placeholder="Address" required /><br />
    <input type="number" ng-model="vm.user.contactNumber" placeholder="Number" required /><br />
    <textarea ng-model="vm.user.description" ng-show="vm.userType == 'walker'" required>Describe yourself</textarea>
    <input type="number" ng-model="vm.user.costPerHourInHNK" placeholder="Cost per hour" required />
    <input type="submit" ng-click="vm.save()" value="Submit" />
</form>