<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ruff Life</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="app" ng-cloak>
    <div ui-view></div>

    <script src="~/Scripts/vendor/angular.js"></script>
    <script src="~/Scripts/vendor/angular-animate.js"></script>
    <script src="~/Scripts/vendor/angular-ui-router.js"></script>

    <script src="~/Scripts/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="~/Scripts/app/app.module.js"></script>
    <script src="~/Scripts/app/app.config.js"></script>

    <script src="~/Scripts/app/repositories/userRepository.js"></script>

    <script src="~/Scripts/app/signIn/signIn.state.js"></script>
    <script src="~/Scripts/app/signIn/signIn.controller.js"></script>
    <script src="~/Scripts/app/registerUserType/registerUserType.state.js"></script>
    <script src="~/Scripts/app/registerUserType/registerUserType.controller.js"></script>
    <script src="~/Scripts/app/newUser/newUser.state.js"></script>
    <script src="~/Scripts/app/newUser/newUser.controller.js"></script>

    <script src="~/Scripts/app/common/services/userAuthService.js"></script>

    <script src="~/Scripts/app/dashboard/dashboardOwner.state.js"></script>
    <script src="~/Scripts/app/dashboard/dashboardOwner.controller.js"></script>

    <script src="~/Scripts/app/dashboard/dashboardWalker.state.js"></script>
    <script src="~/Scripts/app/dashboard/dashboardWalker.controller.js"></script>

    <script src="~/Scripts/app/dashboard/dashboard.state.js"></script>
    <script src="~/Scripts/app/dashboard/dashboard.controller.js"></script>

</body>
</html>
