<div class="container-fluid">
    <div class="row">
        <div id="nav">
            <div class="col-md-3">
                <img class="logo" src="Content/img/logo.png"/>
            </div>

            <div class="col-md-9">
                <ul>
                    <li><span class="hidden-xs"> Create Walk</span></li>
                    <li class="profile"><img width="28" src="Content/img/img-placeholder.jpg"/><span class="hidden-xs">{{$rootScope.user}}</span></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <br />
    <form>
        <div class="form-group">
            <label>Username: {{vm.newWalk.user.Username}}</label>
        </div>
        <div class="form-group">
            <label>Select walker for your dog:</label>
            <select class="form-control" ng-model="vm.walker">
                <option ng-repeat="walker in vm.walkers" value="{{walker.Id}}" ng-model="vm.newWalk.walker">{{walker.Username}}</option>
            </select>
        </div>
        <div class="form-group">
            <div ng-click="vm.createWalk()" class="btn btn-default">Create walk!</div>
        </div>
    </form>
</div>
<div ui-view></div>
